---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as AboutRemie } from '../content/about_remie.md';
import { Content as AboutLesley } from '../content/about_lesley.md';
import siteConfig from '../../site.config.mjs';

const profileImage1 = siteConfig.profileImage1;
const profileImage2 = siteConfig.profileImage2;
const profileImage3 = siteConfig.profileImage3;
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom">
			<div class="max-w-2xl mx-auto text-center mb-16">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">About Us</h1>
			</div>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
				<div>
					<img
						src=`/images/${profileImage1}`
						alt="Profile image"
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
						width="720"
						height="720"
					/>
				</div>

				<div class="prose text-gray-700 mb-6">
					<AboutRemie />
				</div>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-16 items-center">
				<div>
					<img
						src=`/images/${profileImage2}`
						alt="Profile image 1"
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
						width="360"
						height="360"
					/>
				</div>
				<div class="prose text-gray-700 mb-6">
					<AboutLesley />
				</div>
				<div>
					<img
						src=`/images/${profileImage3}`
						alt="Profile image 2"
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
						width="360"
						height="360"
					/>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
